 body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
      background: #f2f2f2;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      flex-direction: column;
    }


    /* Fundo escuro do modal */
    .overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
      display: none;
      justify-content: center;
      align-items: center;
    }

    /* Modal central */
    .modal {
      background: white;
      padding: 30px;
      border-radius: 10px;
      text-align: center;
      width: 300px;
      box-shadow: 0 0 10px rgba(0,0,0,0.3);
    }

    .modal button {
      display: block;
      width: 100%;
      padding: 12px;
      margin: 10px 0;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      font-size: 16px;
    }


    .modal button:hover {
      background: #005fcc;
    }

    #openModalBtn {
      padding: 10px 20px;
      background: #007bff;
      color: white;
      border: none;
      border-radius: 5px;
      cursor: pointer;
    }

    #backBtn {
    margin-top: 10px;
     padding: 10px 20px; 
     background: #007bff; 
     color: white; 
     border-radius: 5px; 
     text-decoration: none;
    }